
@mixin text_ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text_clamp($line){
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
}
@mixin text_hover($color){
  color: $color;
  transition: color 0.3s;
  &:hover{
    color: darken($color,5%);
  }
  &:active{
    color: darken($color,10%);
  }
}