//
///**
//position
// */
//@mixin suspension-min{
//  position: fixed;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  height: 100%;
//  &>div{
//    position: relative;
//    margin-left: auto;
//    margin-right: auto;
//  }
//  background-color: rgba(44,47,64,0.3);
//}
//
//
///**
//text
// */


//
//
///**
//
// */
//@mixin suspension($width:80%) {
//  display: none;
//  position: fixed;
//  left: 0;
//  right: 0;
//  top: 0;
//  bottom: 0;
//  height: 100%;
//  background-color: rgba(44, 47, 64, 0.3);
//  &>div {
//    width:$width;
//    position: relative;
//    margin-left: auto;
//    margin-right: auto;
//    background-color: #fff;
//  }
//}
//
@mixin bg-hover($bg){
  background-color: $bg;
  transition: background-color 0.3s;
  &:hover{
    background-color: darken($bg,5%);
  }
  &:active{
    background-color: darken($bg,10%);
  }
}
//
//@mixin color-hover($color){
//  color: $color;
//  transition: color 0.3s;
//  &:hover{
//    color: darken($color,5%);
//  }
//  &:active{
//    color: darken($color,10%);
//  }
//}
//
//@mixin min-screen($res){
//  @media only screen and ( min-width: $res )
//  {
//    @content;
//  }
//}
//@mixin max-screen($res){
//  @media only screen and ( max-width: $res )
//  {
//    @content;
//  }
//}

@import "calc";
@import "text";
@import "position";
