$screen_width: (
        1024,
        1140,
        1200,
        1280,
        1360,
        1440,
        1536,
        1600,
        1920
);

@for $i from 1 through length($screen_width) {
        $item:nth($screen_width,$i);
        @media(min-width: #{$item}px) {
          html {
            font-size: $item/1024*16px;
          }
        }
}

@function media($base){

}